In [85]:
import pandas as pd
from io import StringIO

In [86]:
with open('data/alah_with_complement/resultsx.tsv', encoding='utf-16') as f:
    contents = f.read()

In [87]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [88]:
df = pd.read_csv(StringIO(contents), sep="\t")

In [89]:
df.head(2)

,R,S1,S2,S3,NODE1,TYPE1,TEXT1,NODE2,TYPE2,TEXT2,lex2,NODE3,TYPE3,TEXT3,function3,NODE4,TYPE4,TEXT4,lex4,sp4
0,1,Genesis,2,6,427704,clause,וְאֵ֖ד יַֽעֲלֶ֣ה מִן־הָאָ֑רֶץ,780,word,יַֽעֲלֶ֣ה,<LH[,652008,phrase,מִן־הָאָ֑רֶץ,Cmpl,781,word,מִן־,MN,prep
1,2,Genesis,2,6,427704,clause,וְאֵ֖ד יַֽעֲלֶ֣ה מִן־הָאָ֑רֶץ,780,word,יַֽעֲלֶ֣ה,<LH[,652008,phrase,מִן־הָאָ֑רֶץ,Cmpl,782,word,הָ,H,art

In [90]:
# 'verb with complements
df = df.drop_duplicates(subset=["NODE1"])

In [101]:
#df.head(10)

In [91]:
len(df)

580

In [92]:
# 'verb with verbal complement
df_vc = df[df.sp4 != "prep"]

In [93]:
sp4_counts_vc = df_vc["sp4"].value_counts()

In [94]:
lex4_counts_vc = df_vc["lex4"].value_counts()

In [28]:
#df_vc

In [96]:
#lex4_counts_vc
len(df_vc)

108

In [102]:
sp4_counts_vc

subs    37
nmpr    33
art     30
advb     8
Name: sp4, dtype: int64

In [103]:
# verb with all complement types

In [104]:
sp4_counts = df["sp4"].value_counts()
sp4_counts

prep    472
subs     37
nmpr     33
art      30
advb      8
Name: sp4, dtype: int64

In [105]:
sp4_percentage = df["sp4"].value_counts(normalize=True) * 100
sp4_percentage

prep    81.379310
subs     6.379310
nmpr     5.689655
art      5.172414
advb     1.379310
Name: sp4, dtype: float64

In [106]:
isaiah_df = df[df["S1"] == "Isaiah"]

In [123]:
len(isaiah_df)

25

In [108]:
sp4_counts_isaiah = isaiah_df["sp4"].value_counts()
sp4_counts_isaiah

prep    18
subs     4
art      2
nmpr     1
Name: sp4, dtype: int64

In [109]:
isaiah_prep_df = isaiah_df[isaiah_df["sp4"] == "prep"]

In [110]:
isaiah_prep_df["lex4"].value_counts()

<L    8
B     3
MN    3
>L    2
L     2
Name: lex4, dtype: int64

In [111]:
book_counts = df["S1"].value_counts()
#book_counts

In [112]:
filtered_df = df[df.sp4 == "prep"]

In [113]:
lex4_count_prep = filtered_df["lex4"].value_counts()

In [114]:
lex4_percentage_prep = filtered_df["lex4"].value_counts(normalize=True) * 100

In [116]:
lex4_count_prep

MN      161
<L      126
>L       78
B        56
L        40
<M        8
>T==      2
<D        1
Name: lex4, dtype: int64

In [118]:
lex4_percentage_prep

MN      34.110169
<L      26.694915
>L      16.525424
B       11.864407
L        8.474576
<M       1.694915
>T==     0.423729
<D       0.211864
Name: lex4, dtype: float64

In [119]:
prep_book_counts = filtered_df["S1"].value_counts()

In [120]:
prep_book_percentage_prep = filtered_df["lex4"].value_counts(normalize=True) * 100

In [121]:
for book in filtered_df.S1.unique():
    book_df = filtered_df[filtered_df.S1 == book]
    print(book, len(book_df))
    print(book_df["lex4"].value_counts())
    print(book_df["lex4"].value_counts(normalize=True) * 100)
    print("")

Genesis 30
MN      14
>L       4
B        3
<L       3
L        2
<M       2
>T==     2
Name: lex4, dtype: int64
MN      46.666667
>L      13.333333
B       10.000000
<L      10.000000
L        6.666667
<M       6.666667
>T==     6.666667
Name: lex4, dtype: float64

Exodus 38
MN    14
>L    13
<L     7
B      3
<M     1
Name: lex4, dtype: int64
MN    36.842105
>L    34.210526
<L    18.421053
B      7.894737
<M     2.631579
Name: lex4, dtype: float64

Leviticus 5
<L    3
>L    1
MN    1
Name: lex4, dtype: int64
<L    60.0
>L    20.0
MN    20.0
Name: lex4, dtype: float64

Numbers 22
MN    9
>L    8
B     2
<M    1
<L    1
<D    1
Name: lex4, dtype: int64
MN    40.909091
>L    36.363636
B      9.090909
<M     4.545455
<L     4.545455
<D     4.545455
Name: lex4, dtype: float64

Deuteronomy 12
B     4
>L    3
<L    3
MN    2
Name: lex4, dtype: int64
B     33.333333
>L    25.000000
<L    25.000000
MN    16.666667
Name: lex4, dtype: float64

Joshua 26
MN    12
<L     6
>L     4
L      2
<M     1
B      1
Name: lex4, dtype: int64
MN    46.153846
<L    23.076923
>L    15.384615
L      7.692308
<M     3.846154
B      3.846154
Name: lex4, dtype: float64

Judges 41
MN    16
>L    10
<L     6
L      5
B      3
<M     1
Name: lex4, dtype: int64
MN    39.024390
>L    24.390244
<L    14.634146
L     12.195122
B      7.317073
<M     2.439024
Name: lex4, dtype: float64

1_Samuel 39
MN    11
>L     9
L      8
<L     6
B      4
<M     1
Name: lex4, dtype: int64
MN    28.205128
>L    23.076923
L     20.512821
<L    15.384615
B     10.256410
<M     2.564103
Name: lex4, dtype: float64

2_Samuel 14
MN    6
B     3
<L    2
L     2
>L    1
Name: lex4, dtype: int64
MN    42.857143
B     21.428571
<L    14.285714
L     14.285714
>L     7.142857
Name: lex4, dtype: float64

1_Kings 24
<L    12
MN     8
>L     2
L      1
B      1
Name: lex4, dtype: int64
<L    50.000000
MN    33.333333
>L     8.333333
L      4.166667
B      4.166667
Name: lex4, dtype: float64

2_Kings 25
<L    10
>L     6
MN     5
B      3
L      1
Name: lex4, dtype: int64
<L    40.0
>L    24.0
MN    20.0
B     12.0
L      4.0
Name: lex4, dtype: float64

Isaiah 18
<L    8
B     3
MN    3
>L    2
L     2
Name: lex4, dtype: int64
<L    44.444444
B     16.666667
MN    16.666667
>L    11.111111
L     11.111111
Name: lex4, dtype: float64

Jeremiah 41
MN    19
<L    10
B      5
>L     5
L      2
Name: lex4, dtype: int64
MN    46.341463
<L    24.390244
B     12.195122
>L    12.195122
L      4.878049
Name: lex4, dtype: float64

Ezekiel 29
<L    14
MN     7
B      4
>L     3
L      1
Name: lex4, dtype: int64
<L    48.275862
MN    24.137931
B     13.793103
>L    10.344828
L      3.448276
Name: lex4, dtype: float64

Hosea 5
MN    4
<L    1
Name: lex4, dtype: int64
MN    80.0
<L    20.0
Name: lex4, dtype: float64

Joel 3
<L    1
B     1
>L    1
Name: lex4, dtype: int64
<L    33.333333
B     33.333333
>L    33.333333
Name: lex4, dtype: float64

Amos 6
MN    4
L     1
<L    1
Name: lex4, dtype: int64
MN    66.666667
L     16.666667
<L    16.666667
Name: lex4, dtype: float64

Obadiah 1
B    1
Name: lex4, dtype: int64
B    100.0
Name: lex4, dtype: float64

Jonah 2
L     1
MN    1
Name: lex4, dtype: int64
L     50.0
MN    50.0
Name: lex4, dtype: float64

Micah 3
L     1
>L    1
MN    1
Name: lex4, dtype: int64
L     33.333333
>L    33.333333
MN    33.333333
Name: lex4, dtype: float64

Nahum 1
<L    1
Name: lex4, dtype: int64
<L    100.0
Name: lex4, dtype: float64

Zechariah 2
<L    1
>L    1
Name: lex4, dtype: int64
<L    50.0
>L    50.0
Name: lex4, dtype: float64

Psalms 15
MN    5
B     4
<L    4
L     2
Name: lex4, dtype: int64
MN    33.333333
B     26.666667
<L    26.666667
L     13.333333
Name: lex4, dtype: float64

Job 3
B     1
L     1
<L    1
Name: lex4, dtype: int64
B     33.333333
L     33.333333
<L    33.333333
Name: lex4, dtype: float64

Proverbs 2
B     1
<L    1
Name: lex4, dtype: int64
B     50.0
<L    50.0
Name: lex4, dtype: float64

Song_of_songs 5
MN    4
B     1
Name: lex4, dtype: int64
MN    80.0
B     20.0
Name: lex4, dtype: float64

Ecclesiastes 1
<L    1
Name: lex4, dtype: int64
<L    100.0
Name: lex4, dtype: float64

Lamentations 2
<L    2
Name: lex4, dtype: int64
<L    100.0
Name: lex4, dtype: float64

Ezra 10
MN    5
<L    2
L     1
>L    1
<M    1
Name: lex4, dtype: int64
MN    50.0
<L    20.0
L     10.0
>L    10.0
<M    10.0
Name: lex4, dtype: float64

Nehemiah 7
MN    4
B     1
L     1
<L    1
Name: lex4, dtype: int64
MN    57.142857
B     14.285714
L     14.285714
<L    14.285714
Name: lex4, dtype: float64

1_Chronicles 9
L     3
MN    2
B     2
<L    1
>L    1
Name: lex4, dtype: int64
L     33.333333
MN    22.222222
B     22.222222
<L    11.111111
>L    11.111111
Name: lex4, dtype: float64

2_Chronicles 31
<L    17
B      5
MN     4
L      3
>L     2
Name: lex4, dtype: int64
<L    54.838710
B     16.129032
MN    12.903226
L      9.677419
>L     6.451613
Name: lex4, dtype: float64

In [122]:
prep_book_counts

Judges           41
Jeremiah         41
1_Samuel         39
Exodus           38
2_Chronicles     31
Genesis          30
Ezekiel          29
Joshua           26
2_Kings          25
1_Kings          24
Numbers          22
Isaiah           18
Psalms           15
2_Samuel         14
Deuteronomy      12
Ezra             10
1_Chronicles      9
Nehemiah          7
Amos              6
Song_of_songs     5
Leviticus         5
Hosea             5
Job               3
Joel              3
Micah             3
Jonah             2
Zechariah         2
Proverbs          2
Lamentations      2
Nahum             1
Obadiah           1
Ecclesiastes      1
Name: S1, dtype: int64

In [82]:
prep_book_percentage_prep

B       35.483871
<L      21.774194
L       16.129032
MN      13.306452
>L      10.483871
>T==     1.209677
<M       0.806452
<D       0.403226
K        0.403226
Name: lex4, dtype: float64

In [65]:
df_b = df[df.lex4 == "B"]

In [69]:
book_counts_b = df_b["S1"].value_counts()
#book_counts_b

#### Check my annotated version of the Isaiah dataset

In [75]:
isaiah = pd.read_csv("data/isaiah_dataset.csv").fillna("")

In [77]:
#isaiah_abar = isaiah[(isaiah["lex"] == "<BR[") & (isaiah["complement"] != "no complement")]
#isaiah_abar

In [63]:
#isaiah_abar.to_csv("data/isaiah_abar.csv", index=False)