In [1]:
from itertools import zip_longest

import pandas as pd

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [36]:
df = pd.read_csv("data/isaiah_with_loca.csv").fillna("")
### Exclude MN occurrences
df = df[(df.preposition_1 != "MN") & (df.preposition_2 == "")]
df = df[(df.preposition_1 != "MN") & (df.preposition_2 != "MN")]

### Exclude reconstructed occurrences
df = df[df.comments != "reconstructed"]

### Exclude occurrences without a complement
df = df[df.complement != "no complement"]

### Filter some verbs  'GLH[','NPL[', 'NWX['
df = df[df.lex != "GLH["]
df = df[df.lex != "NPL["]
df = df[df.lex != "NWX["]

In [37]:
set(df.lex)

{'<BR[',
 '<LH[',
 '<WP[',
 '<WZ[',
 'BW>[',
 'CQQ[',
 'CWB[',
 'CWR=[',
 'HLK[',
 'JRD[',
 'JY>[',
 'NGC[',
 'NHR[',
 'NWS[',
 'NXT[',
 'PF<[',
 'PNH[',
 'QRB[',
 'RWY[',
 'SBB[',
 'T<H[',
 'XLP[',
 'XSH['}

In [38]:
print(f"Total: {len(df)}")
print(f"MT: {len(df[df.scroll == 'MT'])}, percentage: {len(df[df.scroll == 'MT'])/ len(df) * 100}")
print(f"1QIsaa: {len(df[df.scroll == '1Qisaa'])}, percentage: {len(df[df.scroll == '1Qisaa'])/ len(df) * 100}")
print(f"1Q8: {len(df[df.scroll == '1Q8'])}, percentage: {len(df[df.scroll == '1Q8'])/ len(df) * 100}")

Total: 393
MT: 165, percentage: 41.98473282442748
1QIsaa: 166, percentage: 42.23918575063613
1Q8: 36, percentage: 9.16030534351145

In [39]:
print(f"""in MT the complements are:\n 
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in MT the complements are:

127 prepositions,

30 verbal complements,

7 directive -he,

1 prepositions plus directive -he,

In [40]:
print(f"""in 1QIsaa the complements are:\n 
{len(df[(df.scroll == "1Qisaa") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "1Qisaa") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "1Qisaa") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "1Qisaa") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in 1QIsaa the complements are:

131 prepositions,

26 verbal complements,

5 directive -he,

2 prepositions plus directive -he,

In [41]:
print(f"""in 1Q8 the complements are:\n 
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in 1Q8 the complements are:

29 prepositions,

4 verbal complements,

3 directive -he,

0 prepositions plus directive -he,

In [42]:
#df[(df.chapter == 20) & (df.verse_num == 6)]
#df[(df.chapter == 23) & (df.verse_num == 10)]
df[(df.chapter == 2) & (df.verse_num == 3)]
# + 10:29 ad 60:7

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,preposition_5,preposition_6,comments
30,212590,HLK[,MT,Isaiah,2,3,NLKH,W HLKW <MJM RBJM W >MRW LKW W N<LH >L HR JHWH >L BJT >LHJ J<QB W JRNW M DRKJW W NLKH B >RXTJW KJ M YJWN TY> TWRH W DBR JHWH M JRWCLM,,qal,impf,W NLKH B >RXTJW,,B >RXTJW,B >RX/,in his paths,0.0,prep,abs,inanim,det,subs,complex,factive fictive,B,,,,,,
41,2025410,HLK[,4Q59,Isaiah,2,3,NLKH,W HLKW <MJM RBJM W >MRW LKW W N<LH >L HR JHWH W >L BJT >LHJ J<QWB W JWRNW M DRKJW W NLKH B >RXTJW KJ M YJWN TY> TWRH W DBR JHWH M JRWCLJM,0 0000 0000 0000 0 0000 000 0 0000 00 00 1111 0 00 000 0000 00000 0 00000 0 00000 0 0000 0 000000 00 0 0000 000 0011 0 000 1111 0 0000000,qal,impf,W NLKH B >RXTJW,,B >RXTJW,B >RX/,in his paths,0.0,prep,abs,inanim,det,subs,complex,factive fictive,B,,,,,,
47,1895402,<LH[,1Qisaa,Isaiah,2,3,N<LH,W HLKW <MJM RBJM W >MRW LKW W N<LH >L BJT >LWHJ J<QWB W JRWNW M DRKJW W N>LKH B >WRXTJW KJ> M YJWN TY> TWRH W DBR JHWH M JRWCLJM,0 0000 0000 0000 0 0000 000 0 0000 00 000 00000 00000 0 00000 0 00000 0 00000 0 0000000 000 0 0000 000 0000 0 000 0000 0 0000000,qal,impf,W N<LH >L BJT >LWHJ J<QWB,,>L BJT >LWHJ J<QWB,>L BJT/ >LHJM/ J<QB/,to the house of the God of Jacob,0.0,prep,topo,inanim,det,subs,complex,factive,>L,,,,,,
48,1895412,HLK[,1Qisaa,Isaiah,2,3,N>LKH,W HLKW <MJM RBJM W >MRW LKW W N<LH >L BJT >LWHJ J<QWB W JRWNW M DRKJW W N>LKH B >WRXTJW KJ> M YJWN TY> TWRH W DBR JHWH M JRWCLJM,0 0000 0000 0000 0 0000 000 0 0000 00 000 00000 00000 0 00000 0 00000 0 00000 0 0000000 000 0 0000 000 0000 0 000 0000 0 0000000,qal,impf,W N>LKH B >WRXTJW,,B >WRXTJW,B >RX/,in his paths,0.0,prep,abs,inanim,det,subs,complex,factive fictive,B,,,,,,

In [43]:
# COMPLEMENT: OCCURRENCE COUNT

cmpl_dic = {}

for i, row in df.iterrows():
    cmpl_info = (row.lex, row.book, row.chapter, row.verse_num)
    cmpl_dic.setdefault(row.scroll, {}).setdefault(cmpl_info, []).append(row.cmpl_constr)

stats = {}
for scroll, cmpls in cmpl_dic.items():
    for cmpl_info, cmpl_constrs in cmpls.items():
        for other_scroll, other_cmpls in cmpl_dic.items():
            if scroll >= other_scroll:
                continue
            other_cmpl_constr = other_cmpls.get(cmpl_info)
            if other_cmpl_constr is None:
                continue
            same = 0
            different = 0
            for c1, c2 in zip(cmpl_constrs, other_cmpl_constr):
                if c1 == c2:
                    same += 1
                else:
                    different += 1
                    #print(scroll, other_scroll, cmpl_info, c1, c2)
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + same, stat[1] + different, stat[2] + same + different)
            
stats

{('1Qisaa', 'MT'): (152, 4, 156),
 ('1Qisaa', '4Q60'): (2, 0, 2),
 ('1Qisaa', '4Q59'): (5, 0, 5),
 ('1Qisaa', '4Q57'): (4, 1, 5),
 ('1Qisaa', '4Q55'): (1, 0, 1),
 ('1Qisaa', '4Q68'): (1, 0, 1),
 ('1Qisaa', '4Q56'): (6, 0, 6),
 ('1Qisaa', '4Q62'): (1, 0, 1),
 ('1Qisaa', '4Q61'): (1, 0, 1),
 ('1Qisaa', '4Q58'): (1, 0, 1),
 ('4Q60', 'MT'): (2, 0, 2),
 ('4Q59', 'MT'): (5, 0, 5),
 ('4Q59', '4Q60'): (2, 0, 2),
 ('1Q8', 'MT'): (36, 0, 36),
 ('1Q8', '1Qisaa'): (35, 1, 36),
 ('1Q8', '4Q56'): (1, 0, 1),
 ('1Q8', '4Q61'): (1, 0, 1),
 ('1Q8', '4Q57'): (1, 0, 1),
 ('4Q57', 'MT'): (6, 0, 6),
 ('4Q55', 'MT'): (1, 0, 1),
 ('4Q68', 'MT'): (1, 0, 1),
 ('4Q56', 'MT'): (6, 0, 6),
 ('4Q62', 'MT'): (1, 0, 1),
 ('4Q61', 'MT'): (1, 0, 1),
 ('4Q58', 'MT'): (2, 0, 2)}

In [44]:
#df[(df.chapter == 52) & (df.verse_num == 11)]

In [45]:
# COMPLEMENT: OCCURRENCE COUNT AND PERCENTAGES, TABLE

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": len(df[df.scroll == scrolls[0]]),
        "total_occ_scroll2": len(df[df.scroll == scrolls[1]]),
        "total_com_occ": stat[2],
        "total_agreement": stat[0],
        "total_disagreement": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_agreement,total_disagreement,agreement_percentage
0,1Qisaa,MT,166,165,156,152,4,97.435897
1,1Qisaa,4Q60,166,3,2,2,0,100.000000
2,1Qisaa,4Q59,166,5,5,5,0,100.000000
3,1Qisaa,4Q57,166,6,5,4,1,80.000000
4,1Qisaa,4Q55,166,1,1,1,0,100.000000
5,1Qisaa,4Q68,166,1,1,1,0,100.000000
6,1Qisaa,4Q56,166,6,6,6,0,100.000000
7,1Qisaa,4Q62,166,1,1,1,0,100.000000
8,1Qisaa,4Q61,166,1,1,1,0,100.000000
9,1Qisaa,4Q58,166,2,1,1,0,100.000000
10,4Q60,MT,3,165,2,2,0,100.000000
11,4Q59,MT,5,165,5,5,0,100.000000
12,4Q59,4Q60,5,3,2,2,0,100.000000
13,1Q8,MT,36,165,36,36,0,100.000000
14,1Q8,1Qisaa,36,166,36,35,1,97.222222
15,1Q8,4Q56,36,6,1,1,0,100.000000
16,1Q8,4Q61,36,1,1,1,0,100.000000
17,1Q8,4Q57,36,6,1,1,0,100.000000
18,4Q57,MT,6,165,6,6,0,100.000000
19,4Q55,MT,1,165,1,1,0,100.000000
20,4Q68,MT,1,165,1,1,0,100.000000
21,4Q56,MT,6,165,6,6,0,100.000000
22,4Q62,MT,1,165,1,1,0,100.000000
23,4Q61,MT,1,165,1,1,0,100.000000
24,4Q58,MT,2,165,2,2,0,100.000000

In [46]:
# COMPLEMENT: DISAGREEMENT CASES
cmpl_dic = {}

# Constructing the dictionary from the dataframe
for i, row in df.iterrows():
    cmpl_info = (row.lex, row.book, row.chapter, row.verse_num)
    cmpl_dic.setdefault(row.scroll, {}).setdefault(cmpl_info, []).append(row.cmpl_constr)

results = []

# Analyzing and comparing complements
for scroll, cmpls in cmpl_dic.items():
    for cmpl_info, cmpl_constrs in cmpls.items():
        for other_scroll, other_cmpls in cmpl_dic.items():
            if scroll >= other_scroll:
                continue
            other_cmpl_constr = other_cmpls.get(cmpl_info)
            if other_cmpl_constr is None:
                continue
            
            for c1, c2 in zip(cmpl_constrs, other_cmpl_constr):
                if c1 != c2:  # Only storing results when they are different
                    result = {
                        'scroll': scroll,
                        'other_scroll': other_scroll,
                        'lex': cmpl_info[0],
                        'book': cmpl_info[1],
                        'chapter': cmpl_info[2],
                        'verse_num': cmpl_info[3],
                        'complement_1': c1,
                        'complement_2': c2
                    }
                    results.append(result)

# Create DataFrame
df_results = pd.DataFrame(results)

# If you want to see the DataFrame printed out
df_results
#stats

,scroll,other_scroll,lex,book,chapter,verse_num,complement_1,complement_2
0,1Qisaa,MT,BW>[,Isaiah,10,28,prep + dir-he,prep
1,1Qisaa,4Q57,BW>[,Isaiah,10,28,prep + dir-he,prep
2,1Qisaa,MT,<BR[,Isaiah,10,29,prep,vc
3,1Qisaa,MT,CWB[,Isaiah,28,6,vc,dir-he
4,1Qisaa,MT,<LH[,Isaiah,60,7,prep,vc
5,1Q8,1Qisaa,<LH[,Isaiah,60,7,vc,prep

In [48]:
df[(df.chapter == 28) & (df.verse_num == 6)]

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,preposition_5,preposition_6,comments
623,220911,CWB[,MT,Isaiah,28,6,MCJBJ,W L RWX MCPV L JWCB <L H MCPV W L GBWRH MCJBJ MLXMH C<RH,,hif,ptca,MCJBJ MLXMH C<RH,,C<RH,C<R/,toward the gate,1.0,dir-he,obj,inanim,und,subs,simple,factive fictive,,,,,,,to (re)turn the battle toward the gate?
626,1904054,CWB[,1Qisaa,Isaiah,28,6,MCJBJ,W L RWX MCPV L JWCB <L H MCPV W L GBWRH MCJBJ MLXMH C<R,0 0 000 0000 0 0000 00 0 0000 0 0 00000 00000 00000 000,hifil,ptca,MCJBJ MLXMH C<R,,C<R,C<R/,toward the gate,0.0,vc,obj,inanim,und,subs,simple,factive fictive,,,,,,,to (re)turn the battle toward the gate?

In [29]:
# PREPOSITIONS: COUNT

prep_dic = {}

for i, row in df[df.cmpl_constr == "prep"].iterrows():
    prep_info = (row.lex, row.book, row.chapter, row.verse_num)
    preps = []
    for i in range(1, 5):
        prep = row[f"preposition_{i}"].strip()
        if prep:
            preps.append(prep)
    prep_dic.setdefault(row.scroll, {}).setdefault(prep_info, []).append(preps)

stats = {}
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll >= other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            same = 0
            different = 0
            for c1, c2 in zip(preps, other_preps):
                if c1 == c2:
                    same += 1
                else:
                    different += 1
                    #print(scroll, other_scroll, prep_info, c1, c2)
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + same, stat[1] + different, stat[2] + same + different)

stats

{('1Qisaa', 'MT'): (130, 7, 137),
 ('1Qisaa', '4Q60'): (1, 1, 2),
 ('1Qisaa', '4Q59'): (4, 1, 5),
 ('1Qisaa', '4Q68'): (1, 0, 1),
 ('1Qisaa', '4Q57'): (3, 0, 3),
 ('1Qisaa', '4Q56'): (4, 0, 4),
 ('1Qisaa', '4Q62'): (1, 0, 1),
 ('1Qisaa', '4Q61'): (1, 0, 1),
 ('1Qisaa', '4Q58'): (1, 0, 1),
 ('4Q60', 'MT'): (2, 0, 2),
 ('4Q59', 'MT'): (5, 0, 5),
 ('4Q59', '4Q60'): (2, 0, 2),
 ('4Q57', 'MT'): (4, 0, 4),
 ('4Q68', 'MT'): (1, 0, 1),
 ('1Q8', 'MT'): (30, 1, 31),
 ('1Q8', '1Qisaa'): (30, 1, 31),
 ('1Q8', '4Q56'): (1, 0, 1),
 ('1Q8', '4Q61'): (1, 0, 1),
 ('1Q8', '4Q57'): (1, 0, 1),
 ('4Q56', 'MT'): (4, 0, 4),
 ('4Q62', 'MT'): (1, 0, 1),
 ('4Q61', 'MT'): (1, 0, 1),
 ('4Q58', 'MT'): (2, 0, 2)}

In [30]:
# PREPOSITIONS. DISAGREEMENT CASES BETWEEN THE THREE MANUSCRIPTS
prep_dic = {}

# Constructing the dictionary from the dataframe where 'cmpl_constr' is 'prep'
for i, row in df[df.cmpl_constr == "prep"].iterrows():
    prep_info = (row.lex, row.book, row.chapter, row.verse_num)
    preps = []
    for j in range(1, 5):
        prep = row[f"preposition_{j}"].strip()
        if prep:
            preps.append(prep)
    prep_dic.setdefault(row.scroll, {}).setdefault(prep_info, []).append(preps)

results = []

# Analyzing and comparing prepositions
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll >= other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            
            for c1, c2 in zip(preps, other_preps):
                if c1 != c2:  # Only storing results when they are different
                    result = {
                        'scroll': scroll,
                        'other_scroll': other_scroll,
                        'lex': prep_info[0],
                        'book': prep_info[1],
                        'chapter': prep_info[2],
                        'verse_num': prep_info[3],
                        'preposition_scroll_1': ", ".join(c1),
                        'preposition_scroll_2': ", ".join(c2)
                    }
                    results.append(result)

# Create DataFrame
df_results = pd.DataFrame(results)

# If you want to see the DataFrame printed out
df_results

,scroll,other_scroll,lex,book,chapter,verse_num,preposition_scroll_1,preposition_scroll_2
0,1Qisaa,MT,NHR[,Isaiah,2,2,<L,>L
1,1Qisaa,4Q60,NHR[,Isaiah,2,2,<L,>L
2,1Qisaa,4Q59,NHR[,Isaiah,2,2,<L,>L
3,1Qisaa,MT,BW>[,Isaiah,16,12,<L,>L
4,1Qisaa,MT,HLK[,Isaiah,18,2,L,>L
5,1Qisaa,MT,CWB[,Isaiah,37,7,L,>L
6,1Qisaa,MT,GLH[,Isaiah,53,1,>L,<L
7,1Qisaa,MT,BW>[,Isaiah,59,20,>L,L
8,1Qisaa,MT,BW>[,Isaiah,66,20,>L,<L
9,1Q8,MT,GLH[,Isaiah,53,1,>L,<L
10,1Q8,1Qisaa,BW>[,Isaiah,66,20,<L,>L

In [31]:
df[(df.chapter == 66) & (df.verse_num == 20)]

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,preposition_5,preposition_6,comments
1672,234871,BW>[,MT,Isaiah,66,20,HBJ>W,W HBJ>W >T KL >XJKM M KL H GWJM MNXH L JHWH B SWSJM W B RKB W B YBJM W B PRDJM W B KRKRWT <L HR QDCJ JRWCLM >MR JHWH K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,,hif,perf,W HBJ>W >T KL >XJKM M KL H GWJM MNXH L JHWH B SWSJM W B RKB W B YBJM W B PRDJM W B KRKRWT <L HR QDCJ JRWCLM,,<L HR QDCJ JRWCLM,<L HR/ QDC/ JRWCLM/,to my holy mountain Jerusalem,0.0,prep,topo,inanim,det,subs,complex,factive,<L,,,,,,
1673,234909,BW>[,MT,Isaiah,66,20,JBJ>W,W HBJ>W >T KL >XJKM M KL H GWJM MNXH L JHWH B SWSJM W B RKB W B YBJM W B PRDJM W B KRKRWT <L HR QDCJ JRWCLM >MR JHWH K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,,hif,impf,K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,BNJ JFR>L,BJT JHWH,BJT/ JHWH/,into the house of Yahweh,0.0,vc,topo,inanim,det,subs,complex,factive,,,,,,,
1675,1918802,BW>[,1Qisaa,Isaiah,66,20,HBJ>W,W HBJ>W >T KWL KWL >XJKMH M KL H GW>JM MNXH L JHWH B SWSJM W B RKBM W B YWBJM W B W B PRDJM W B KWRKWBWT >L HR QDCJ JRWCLJM >MR JHWH K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,0 00000 00 000 000 000000 0 00 0 00000 0000 0 0000 0 00000 0 0 0000 0 0 00000 0 0 0 0 00000 0 0 00000000 00 00 0000 0000000 000 0000 0 000 00000 000 00000 00 0 0000 0 000 0000 000 0000,hifil,perf,W HBJ>W >T KWL KWL >XJKMH M KL H GW>JM MNXH L JHWH B SWSJM W B RKBM W B YWBJM W B W B PRDJM W B KWRKWBWT >L HR QDCJ JRWCLJM,,>L HR QDCJ JRWCLJM,>L HR/ QDC/ JRWCLM/,to my holy mountain Jerusalem,0.0,prep,topo,inanim,det,subs,complex,factive,>L,,,,,,
1676,1918839,BW>[,1Qisaa,Isaiah,66,20,JBJ>W,W HBJ>W >T KWL KWL >XJKMH M KL H GW>JM MNXH L JHWH B SWSJM W B RKBM W B YWBJM W B W B PRDJM W B KWRKWBWT >L HR QDCJ JRWCLJM >MR JHWH K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,0 00000 00 000 000 000000 0 00 0 00000 0000 0 0000 0 00000 0 0 0000 0 0 00000 0 0 0 0 00000 0 0 00000000 00 00 0000 0000000 000 0000 0 000 00000 000 00000 00 0 0000 0 000 0000 000 0000,hifil,impf,K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,,BJT JHWH,BJT/ JHWH/,to the house of Yahweh,0.0,vc,topo,inanim,det,subs,complex,factive,,,,,,,
1677,1927583,BW>[,1Q8,Isaiah,66,20,HBJ>W,W HBJ>W >T KL >XJKM M KL H GWJM MNXH L JHWH B SWSJM W B RKB W B YBJM W B PRDJM W B KRKRWT <L HR QDCJ JRWCLM >MR JHWH K >CR JBJ>W BNJ JFR>L >T H MNXH B KLJ VHWR BJT JHWH,0 00000 00 01 11100 0 00 1 1111 1111 1 1110 0 00000 1 1 111 1 1 0001 1 1 11111 1 1 000000 00 00 1000 000111 111 1100 0 011 11111 110 11110 01 0 0011 1 111 1110 011 1111,hifil,perf,W HBJ>W >T K[L >XJ]KM M KL [H GWJM MNXH L JHW]H B SWSJM [W B RKB W B] YBJ[M W B PRDJM W B] KRKRWT <L HR [Q]DCJ JRW[CLM],,<L HR [Q]DCJ JRW[CLM],<L HR/ QDC/ JRWCLM/,to my holy mountain Jerusalem,0.0,prep,topo,inanim,det,prsf,complex,factive,<L,,,,,,reconstructed?

In [32]:
# PREPOSITIONS: MANUSCRIPT AGREEMENT

def total_occ(scroll):
    scroll_preps = prep_dic[scroll]
    total = 0
    for preps in scroll_preps.values():
        total += len(preps)
    return total

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": total_occ(scrolls[0]),
        "total_occ_scroll2": total_occ(scrolls[1]),
        "total_com_occ": stat[2],
        "total_agreement": stat[0],
        "total_disagreement": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_agreement,total_disagreement,agreement_percentage
0,1Qisaa,MT,147,143,137,130,7,94.890511
1,1Qisaa,4Q60,147,2,2,1,1,50.000000
2,1Qisaa,4Q59,147,5,5,4,1,80.000000
3,1Qisaa,4Q68,147,1,1,1,0,100.000000
4,1Qisaa,4Q57,147,4,3,3,0,100.000000
5,1Qisaa,4Q56,147,4,4,4,0,100.000000
6,1Qisaa,4Q62,147,1,1,1,0,100.000000
7,1Qisaa,4Q61,147,1,1,1,0,100.000000
8,1Qisaa,4Q58,147,2,1,1,0,100.000000
9,4Q60,MT,2,143,2,2,0,100.000000
10,4Q59,MT,5,143,5,5,0,100.000000
11,4Q59,4Q60,5,2,2,2,0,100.000000
12,4Q57,MT,4,143,4,4,0,100.000000
13,4Q68,MT,1,143,1,1,0,100.000000
14,1Q8,MT,31,143,31,30,1,96.774194
15,1Q8,1Qisaa,31,147,31,30,1,96.774194
16,1Q8,4Q56,31,4,1,1,0,100.000000
17,1Q8,4Q61,31,1,1,1,0,100.000000
18,1Q8,4Q57,31,4,1,1,0,100.000000
19,4Q56,MT,4,143,4,4,0,100.000000
20,4Q62,MT,1,143,1,1,0,100.000000
21,4Q61,MT,1,143,1,1,0,100.000000
22,4Q58,MT,2,143,2,2,0,100.000000

In [33]:
# PREPOSITION MISSING

stats = {}
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll == other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            non_missing = 0
            missing = 0
            for c1, c2 in zip_longest(preps, other_preps):
                if c2 is None:
                    missing += 1
                    print(scroll, other_scroll, prep_info, c1, c2)
                else:
                    non_missing += 1
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + non_missing, stat[1] + missing, stat[2] + missing + non_missing)
            
stats

MT 4Q60 ('<LH[', 'Isaiah', 8, 7) ['<L'] None
MT 4Q59 ('<LH[', 'Isaiah', 8, 7) ['<L'] None
MT 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 4Q56 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 4Q56 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 1Q8 ('BW>[', 'Isaiah', 47, 11) ['<L'] None
1Qisaa 4Q60 ('<LH[', 'Isaiah', 8, 7) ['<L'] None
1Qisaa 4Q59 ('<LH[', 'Isaiah', 8, 7) ['<L'] None
1Qisaa MT ('BW>[', 'Isaiah', 16, 12) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 4Q56 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 4Q56 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 47, 11) ['<L'] None

{('MT', '1Qisaa'): (138, 0, 138),
 ('MT', '4Q60'): (2, 1, 3),
 ('MT', '4Q59'): (5, 1, 6),
 ('MT', '4Q57'): (4, 0, 4),
 ('MT', '4Q68'): (1, 0, 1),
 ('MT', '1Q8'): (31, 3, 34),
 ('MT', '4Q56'): (4, 2, 6),
 ('MT', '4Q62'): (1, 0, 1),
 ('MT', '4Q61'): (1, 0, 1),
 ('MT', '4Q58'): (2, 0, 2),
 ('1Qisaa', 'MT'): (137, 1, 138),
 ('1Qisaa', '4Q60'): (2, 1, 3),
 ('1Qisaa', '4Q59'): (5, 1, 6),
 ('1Qisaa', '4Q68'): (1, 0, 1),
 ('1Qisaa', '1Q8'): (31, 3, 34),
 ('1Qisaa', '4Q57'): (3, 0, 3),
 ('1Qisaa', '4Q56'): (4, 2, 6),
 ('1Qisaa', '4Q62'): (1, 0, 1),
 ('1Qisaa', '4Q61'): (1, 0, 1),
 ('1Qisaa', '4Q58'): (1, 0, 1),
 ('4Q60', 'MT'): (3, 0, 3),
 ('4Q60', '1Qisaa'): (3, 0, 3),
 ('4Q60', '4Q59'): (2, 0, 2),
 ('4Q59', 'MT'): (6, 0, 6),
 ('4Q59', '1Qisaa'): (6, 0, 6),
 ('4Q59', '4Q60'): (2, 0, 2),
 ('4Q57', 'MT'): (4, 0, 4),
 ('4Q57', '1Qisaa'): (3, 0, 3),
 ('4Q57', '1Q8'): (1, 0, 1),
 ('4Q68', 'MT'): (1, 0, 1),
 ('4Q68', '1Qisaa'): (1, 0, 1),
 ('1Q8', 'MT'): (34, 0, 34),
 ('1Q8', '1Qisaa'): (34, 0, 34),
 ('1Q8', '4Q56'): (1, 0, 1),
 ('1Q8', '4Q61'): (1, 0, 1),
 ('1Q8', '4Q57'): (1, 0, 1),
 ('4Q56', 'MT'): (6, 0, 6),
 ('4Q56', '1Qisaa'): (6, 0, 6),
 ('4Q56', '1Q8'): (1, 0, 1),
 ('4Q62', 'MT'): (1, 0, 1),
 ('4Q62', '1Qisaa'): (1, 0, 1),
 ('4Q61', 'MT'): (1, 0, 1),
 ('4Q61', '1Qisaa'): (1, 0, 1),
 ('4Q61', '1Q8'): (1, 0, 1),
 ('4Q58', 'MT'): (2, 0, 2),
 ('4Q58', '1Qisaa'): (1, 0, 1)}

In [34]:
# PREPOSITION MISSING 

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": total_occ(scrolls[0]),
        "total_occ_scroll2": total_occ(scrolls[1]),
        "total_com_occ": stat[2],
        "total_non_missing": stat[0],
        "total_missing_from_scroll2": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_non_missing,total_missing_from_scroll2,agreement_percentage
0,MT,1Qisaa,143,147,138,138,0,100.000000
1,MT,4Q60,143,2,3,2,1,66.666667
2,MT,4Q59,143,5,6,5,1,83.333333
3,MT,4Q57,143,4,4,4,0,100.000000
4,MT,4Q68,143,1,1,1,0,100.000000
5,MT,1Q8,143,31,34,31,3,91.176471
6,MT,4Q56,143,4,6,4,2,66.666667
7,MT,4Q62,143,1,1,1,0,100.000000
8,MT,4Q61,143,1,1,1,0,100.000000
9,MT,4Q58,143,2,2,2,0,100.000000
10,1Qisaa,MT,147,143,138,137,1,99.275362
11,1Qisaa,4Q60,147,2,3,2,1,66.666667
12,1Qisaa,4Q59,147,5,6,5,1,83.333333
13,1Qisaa,4Q68,147,1,1,1,0,100.000000
14,1Qisaa,1Q8,147,31,34,31,3,91.176471
15,1Qisaa,4Q57,147,4,3,3,0,100.000000
16,1Qisaa,4Q56,147,4,6,4,2,66.666667
17,1Qisaa,4Q62,147,1,1,1,0,100.000000
18,1Qisaa,4Q61,147,1,1,1,0,100.000000
19,1Qisaa,4Q58,147,2,1,1,0,100.000000
20,4Q60,MT,2,143,3,3,0,100.000000
21,4Q60,1Qisaa,2,147,3,3,0,100.000000
22,4Q60,4Q59,2,5,2,2,0,100.000000
23,4Q59,MT,5,143,6,6,0,100.000000
24,4Q59,1Qisaa,5,147,6,6,0,100.000000
25,4Q59,4Q60,5,2,2,2,0,100.000000
26,4Q57,MT,4,143,4,4,0,100.000000
27,4Q57,1Qisaa,4,147,3,3,0,100.000000
28,4Q57,1Q8,4,31,1,1,0,100.000000
29,4Q68,MT,1,143,1,1,0,100.000000
30,4Q68,1Qisaa,1,147,1,1,0,100.000000
31,1Q8,MT,31,143,34,34,0,100.000000
32,1Q8,1Qisaa,31,147,34,34,0,100.000000
33,1Q8,4Q56,31,4,1,1,0,100.000000
34,1Q8,4Q61,31,1,1,1,0,100.000000
35,1Q8,4Q57,31,4,1,1,0,100.000000
36,4Q56,MT,4,143,6,6,0,100.000000
37,4Q56,1Qisaa,4,147,6,6,0,100.000000
38,4Q56,1Q8,4,31,1,1,0,100.000000
39,4Q62,MT,1,143,1,1,0,100.000000
40,4Q62,1Qisaa,1,147,1,1,0,100.000000
41,4Q61,MT,1,143,1,1,0,100.000000
42,4Q61,1Qisaa,1,147,1,1,0,100.000000
43,4Q61,1Q8,1,31,1,1,0,100.000000
44,4Q58,MT,2,143,2,2,0,100.000000
45,4Q58,1Qisaa,2,147,1,1,0,100.000000