In [1]:
from itertools import zip_longest

import pandas as pd

from collections import Counter

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
df = pd.read_excel("data/newest_dataset_lxx_mt_dss.xlsx").fillna("")

In [5]:
df = df.drop('level_0', axis=1)

In [6]:
df.columns

Index(['verb_id', 'lex', 'scroll', 'book', 'chapter', 'verse_num',
       'gcons_verb', 'gcons_verse', 'sign_info', 'stem', 'tense',
       'gcons_clause', 'subject', 'complement', 'cmpl_lex', 'cmpl_translation',
       'dir_he', 'cmpl_constr', 'cmpl_nt', 'cmpl_anim', 'cmpl_det',
       'cmpl_indiv', 'cmpl_complex', 'motion_type', 'preposition_1',
       'preposition_2', 'preposition_3', 'preposition_4', 'comments',
       'reconstructed_verse', 'spatial_arg_type', 'index'],
      dtype='object')

In [7]:
df.head(2)

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,comments,reconstructed_verse,spatial_arg_type,index
0,28771_mt,BW>[,MT,Exodus,1,1,B>JM,W >LH CMWT BNJ JFR>L H B>JM MYRJMH >T J<QB >JC W BJTW B>W,,qal,ptca,H B>JM MYRJMH >T J<QB,,MYRJMH,MYRJM/,to Egypt,1.0,dir_he,topo,inanim,det,nmpr,simple,factive,,,,,,,goal,
1,28778_mt,BW>[,MT,Exodus,1,1,B>W,W >LH CMWT BNJ JFR>L H B>JM MYRJMH >T J<QB >JC W BJTW B>W,,qal,perf,>JC W BJTW B>W,>JC W BJTW,no complement,no complement,,,,,,,,,,,,,,,,,

In [8]:
### Exclude MN occurrences
#df = df[df.comments != "min excluded"]

### Exclude reconstructed occurrences
df = df[df.comments != "reconstructed"]
#df = df[df.comments != "reconstructed?"]

### Exclude occurrences without a complement
df = df[df.complement != "no complement"]

### Exclude occurrences without a complement
df = df[df.lex != "NPL["]

### Keep only factive and fictive motion
#df = df[(df.motion_type == "factive") | (df.motion_type == "fictive")]

### Keep only trajectory and goal
#df = df[(df.spatial_arg_type == "goal") | (df.spatial_arg_type == "trajectory")]

#df = df.reset_index()

df.head(2)

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,comments,reconstructed_verse,spatial_arg_type,index
0,28771_mt,BW>[,MT,Exodus,1,1,B>JM,W >LH CMWT BNJ JFR>L H B>JM MYRJMH >T J<QB >JC W BJTW B>W,,qal,ptca,H B>JM MYRJMH >T J<QB,,MYRJMH,MYRJM/,to Egypt,1.0,dir_he,topo,inanim,det,nmpr,simple,factive,,,,,,,goal,
2,28771_lxx,εἰσπορεύω,LXX,Exodus,1,1,εἰσπεπορευμένων,"ταῦτα τὰ ὀνόματα τῶν υἱῶν Ἰσραὴλ εἰσπεπορευμένων εἰς Αἴγυπτον ἅμα Ἰακὼβ τῷ πατρὶ αὐτῶν, ἕκαστος πανοικὶ αὐτῶν εἰσήλθοσαν.",,,Perf. Pass. Part. Pl. Gen. Abs.,,,εἰς Αἴγυπτον,εἰς / Αἴγυπτος,to Egypt,,,,,,,,,εἰς,,,,this is a rare verb!,,,

In [20]:
#df.to_csv("data/motion_and_posture_isaiah_dataset_perez.csv", index=False)

In [9]:
Counter(df.lex)

Counter({'BW>[': 124,
         'εἰσέρχομαι': 25,
         'εἰσπορεύω': 10,
         'ἔρχομαι': 9,
         'φέρω': 9,
         'παραγίγνομαι': 8,
         'εἰσάγω': 7,
         'εἰσφέρω': 4,
         'ἥκω': 3,
         'ἐξέρχομαι': 3,
         'ἀναφέρω': 3,
         'εἰσφέρω': 2,
         'ἐπάγω': 2,
         'εἴσειμι': 2,
         'πορεύω': 1,
         'δυσμή': 1,
         'προσέρχομαι': 1,
         'εἰμί': 1,
         'συνάπτω': 1,
         'εἰσάγω': 1,
         'ἐπάγω': 1,
         'τίθημι': 1})

In [26]:
df["preposition_1"] = df.preposition_1.str.strip()

In [10]:
set(df.scroll)

{'34Se1',
 '4Q1',
 '4Q11',
 '4Q13',
 '4Q130',
 '4Q134',
 '4Q136',
 '4Q14',
 '4Q140',
 '4Q144',
 '4Q145',
 '4Q155',
 '4Q16',
 '4Q18',
 '4Q22',
 'LXX',
 'MT',
 'Mur1',
 'Mur4',
 'Xhev/se5',
 'Xq1',
 'Xq3'}

In [11]:
set(df.preposition_1)

{'',
 '<D',
 '<L',
 '>L',
 '>XR/',
 'B',
 'BJN/',
 'L',
 'MN',
 'ἀνὰ μέσον',
 'ἔναντι',
 'ἐκ',
 'ἐκεῖ ἐσώτερον',
 'ἐν',
 'ἐναντίον',
 'ἐνώπιον',
 'ἐπὶ',
 'εἰς μέσον',
 'εἰς',
 'κατὰ',
 'ὀπίσω',
 'παρὰ',
 'πρός'}

In [12]:
print(f"Total: {len(df)}")
print(f"MT: {len(df[df.scroll == 'MT'])}, percentage: {len(df[df.scroll == 'MT'])/ len(df) * 100}")
print(f"4Q11: {len(df[df.scroll == '4Q11'])}, percentage: {len(df[df.scroll == '4Q11'])/ len(df) * 100}")
#print(f"1Q8: {len(df[df.scroll == '1Q8'])}, percentage: {len(df[df.scroll == '1Q8'])/ len(df) * 100}")

Total: 219
MT: 90, percentage: 41.0958904109589
4Q11: 4, percentage: 1.82648401826484

In [13]:
print(f"""in MT the complements are:\n 
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "MT") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in MT the complements are:

72 prepositions,

4 verbal complements,

6 directive -he,

1 prepositions plus directive -he,

In [14]:
print(f"""in 4Q11 the complements are:\n 
{len(df[(df.scroll == "4Q11") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "4Q11") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "4Q11") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "4Q11") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in 4Q11 the complements are:

3 prepositions,

1 verbal complements,

0 directive -he,

0 prepositions plus directive -he,

In [120]:
print(f"""in 1Q8 the complements are:\n 
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "prep")])} prepositions,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "vc")])} verbal complements,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "dir-he")])} directive -he,\n
{len(df[(df.scroll == "1Q8") & (df.cmpl_constr == "prep + dir-he")])} prepositions plus directive -he,\n""")

in 1Q8 the complements are:

20 prepositions,

4 verbal complements,

2 directive -he,

0 prepositions plus directive -he,

In [121]:
#df[(df.chapter == 20) & (df.verse_num == 6)]
#df[(df.chapter == 23) & (df.verse_num == 10)]
#df[(df.chapter == 2) & (df.verse_num == 3)]
# + 10:29 ad 60:7

In [15]:
# COMPLEMENT: OCCURRENCE COUNT

cmpl_dic = {}

for i, row in df.iterrows():
    cmpl_info = (row.lex, row.book, row.chapter, row.verse_num)
    cmpl_dic.setdefault(row.scroll, {}).setdefault(cmpl_info, []).append(row.cmpl_constr)

stats = {}
for scroll, cmpls in cmpl_dic.items():
    for cmpl_info, cmpl_constrs in cmpls.items():
        for other_scroll, other_cmpls in cmpl_dic.items():
            if scroll >= other_scroll:
                continue
            other_cmpl_constr = other_cmpls.get(cmpl_info)
            if other_cmpl_constr is None:
                continue
            same = 0
            different = 0
            for c1, c2 in zip(cmpl_constrs, other_cmpl_constr):
                if c1 == c2:
                    same += 1
                else:
                    different += 1
                    #print(scroll, other_scroll, cmpl_info, c1, c2)
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + same, stat[1] + different, stat[2] + same + different)
            
stats

{('MT', 'Mur1'): (1, 0, 1),
 ('MT', 'Xq1'): (1, 0, 1),
 ('MT', 'Xhev/se5'): (2, 0, 2),
 ('MT', 'Mur4'): (2, 0, 2),
 ('MT', 'Xq3'): (1, 0, 1),
 ('4Q13', 'MT'): (1, 0, 1),
 ('4Q1', 'MT'): (3, 0, 3),
 ('4Q1', '4Q14'): (1, 0, 1),
 ('4Q1', 'Mur1'): (1, 0, 1),
 ('4Q14', 'MT'): (4, 0, 4),
 ('4Q14', '4Q22'): (1, 0, 1),
 ('4Q22', 'MT'): (5, 0, 5),
 ('Xhev/se5', 'Xq1'): (1, 0, 1),
 ('Xhev/se5', 'Xq3'): (1, 0, 1),
 ('Mur4', 'Xq1'): (1, 0, 1),
 ('Mur4', 'Xhev/se5'): (2, 0, 2),
 ('Mur4', 'Xq3'): (1, 0, 1),
 ('4Q16', 'MT'): (1, 0, 1),
 ('4Q16', 'Xq1'): (1, 0, 1),
 ('4Q16', 'Xhev/se5'): (1, 0, 1),
 ('4Q16', 'Mur4'): (1, 0, 1),
 ('4Q145', 'MT'): (1, 0, 1),
 ('4Q145', 'Xq1'): (1, 0, 1),
 ('4Q145', 'Xhev/se5'): (1, 0, 1),
 ('4Q145', 'Mur4'): (1, 0, 1),
 ('4Q145', '4Q16'): (1, 0, 1),
 ('4Q144', 'MT'): (1, 0, 1),
 ('4Q144', 'Xq1'): (1, 0, 1),
 ('4Q144', 'Xhev/se5'): (1, 0, 1),
 ('4Q144', 'Mur4'): (1, 0, 1),
 ('4Q144', '4Q16'): (1, 0, 1),
 ('4Q144', '4Q145'): (1, 0, 1),
 ('4Q140', 'MT'): (1, 0, 1),
 ('4Q140', 'Xq1'): (1, 0, 1),
 ('4Q140', 'Xhev/se5'): (1, 0, 1),
 ('4Q140', 'Mur4'): (1, 0, 1),
 ('4Q140', '4Q16'): (1, 0, 1),
 ('4Q140', '4Q145'): (1, 0, 1),
 ('4Q140', '4Q144'): (1, 0, 1),
 ('4Q136', 'MT'): (1, 0, 1),
 ('4Q136', 'Xq1'): (1, 0, 1),
 ('4Q136', 'Xhev/se5'): (1, 0, 1),
 ('4Q136', 'Mur4'): (1, 0, 1),
 ('4Q136', '4Q16'): (1, 0, 1),
 ('4Q136', '4Q145'): (1, 0, 1),
 ('4Q136', '4Q144'): (1, 0, 1),
 ('4Q136', '4Q140'): (1, 0, 1),
 ('4Q130', 'MT'): (1, 0, 1),
 ('4Q130', 'Xq1'): (1, 0, 1),
 ('4Q130', 'Xhev/se5'): (1, 0, 1),
 ('4Q130', 'Mur4'): (1, 0, 1),
 ('4Q130', '4Q16'): (1, 0, 1),
 ('4Q130', '4Q145'): (1, 0, 1),
 ('4Q130', '4Q144'): (1, 0, 1),
 ('4Q130', '4Q140'): (1, 0, 1),
 ('4Q130', '4Q136'): (1, 0, 1),
 ('34Se1', 'MT'): (1, 0, 1),
 ('34Se1', 'Xq1'): (1, 0, 1),
 ('34Se1', 'Xhev/se5'): (1, 0, 1),
 ('34Se1', 'Mur4'): (1, 0, 1),
 ('34Se1', '4Q16'): (1, 0, 1),
 ('34Se1', '4Q145'): (1, 0, 1),
 ('34Se1', '4Q144'): (1, 0, 1),
 ('34Se1', '4Q140'): (1, 0, 1),
 ('34Se1', '4Q136'): (1, 0, 1),
 ('34Se1', '4Q130'): (1, 0, 1),
 ('4Q155', 'MT'): (1, 0, 1),
 ('4Q155', 'Xhev/se5'): (1, 0, 1),
 ('4Q155', 'Mur4'): (1, 0, 1),
 ('4Q155', 'Xq3'): (1, 0, 1),
 ('4Q134', 'MT'): (1, 0, 1),
 ('4Q134', 'Xhev/se5'): (1, 0, 1),
 ('4Q134', 'Mur4'): (1, 0, 1),
 ('4Q134', 'Xq3'): (1, 0, 1),
 ('4Q134', '4Q155'): (1, 0, 1),
 ('4Q11', 'MT'): (3, 1, 4),
 ('4Q11', '4Q18'): (1, 0, 1),
 ('4Q18', 'MT'): (1, 0, 1)}

In [30]:
#df[(df.chapter == 52) & (df.verse_num == 11)]

In [16]:
# COMPLEMENT: OCCURRENCE COUNT AND PERCENTAGES, TABLE

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": len(df[df.scroll == scrolls[0]]),
        "total_occ_scroll2": len(df[df.scroll == scrolls[1]]),
        "total_com_occ": stat[2],
        "total_agreement": stat[0],
        "total_disagreement": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_agreement,total_disagreement,agreement_percentage
0,MT,Mur1,90,1,1,1,0,100.0
1,MT,Xq1,90,1,1,1,0,100.0
2,MT,Xhev/se5,90,2,2,2,0,100.0
3,MT,Mur4,90,2,2,2,0,100.0
4,MT,Xq3,90,1,1,1,0,100.0
5,4Q13,MT,1,90,1,1,0,100.0
6,4Q1,MT,3,90,3,3,0,100.0
7,4Q1,4Q14,3,4,1,1,0,100.0
8,4Q1,Mur1,3,1,1,1,0,100.0
9,4Q14,MT,4,90,4,4,0,100.0
10,4Q14,4Q22,4,5,1,1,0,100.0
11,4Q22,MT,5,90,5,5,0,100.0
12,Xhev/se5,Xq1,2,1,1,1,0,100.0
13,Xhev/se5,Xq3,2,1,1,1,0,100.0
14,Mur4,Xq1,2,1,1,1,0,100.0
15,Mur4,Xhev/se5,2,2,2,2,0,100.0
16,Mur4,Xq3,2,1,1,1,0,100.0
17,4Q16,MT,1,90,1,1,0,100.0
18,4Q16,Xq1,1,1,1,1,0,100.0
19,4Q16,Xhev/se5,1,2,1,1,0,100.0
20,4Q16,Mur4,1,2,1,1,0,100.0
21,4Q145,MT,1,90,1,1,0,100.0
22,4Q145,Xq1,1,1,1,1,0,100.0
23,4Q145,Xhev/se5,1,2,1,1,0,100.0
24,4Q145,Mur4,1,2,1,1,0,100.0
25,4Q145,4Q16,1,1,1,1,0,100.0
26,4Q144,MT,1,90,1,1,0,100.0
27,4Q144,Xq1,1,1,1,1,0,100.0
28,4Q144,Xhev/se5,1,2,1,1,0,100.0
29,4Q144,Mur4,1,2,1,1,0,100.0
30,4Q144,4Q16,1,1,1,1,0,100.0
31,4Q144,4Q145,1,1,1,1,0,100.0
32,4Q140,MT,1,90,1,1,0,100.0
33,4Q140,Xq1,1,1,1,1,0,100.0
34,4Q140,Xhev/se5,1,2,1,1,0,100.0
35,4Q140,Mur4,1,2,1,1,0,100.0
36,4Q140,4Q16,1,1,1,1,0,100.0
37,4Q140,4Q145,1,1,1,1,0,100.0
38,4Q140,4Q144,1,1,1,1,0,100.0
39,4Q136,MT,1,90,1,1,0,100.0
40,4Q136,Xq1,1,1,1,1,0,100.0
41,4Q136,Xhev/se5,1,2,1,1,0,100.0
42,4Q136,Mur4,1,2,1,1,0,100.0
43,4Q136,4Q16,1,1,1,1,0,100.0
44,4Q136,4Q145,1,1,1,1,0,100.0
45,4Q136,4Q144,1,1,1,1,0,100.0
46,4Q136,4Q140,1,1,1,1,0,100.0
47,4Q130,MT,1,90,1,1,0,100.0
48,4Q130,Xq1,1,1,1,1,0,100.0
49,4Q130,Xhev/se5,1,2,1,1,0,100.0
50,4Q130,Mur4,1,2,1,1,0,100.0
51,4Q130,4Q16,1,1,1,1,0,100.0
52,4Q130,4Q145,1,1,1,1,0,100.0
53,4Q130,4Q144,1,1,1,1,0,100.0
54,4Q130,4Q140,1,1,1,1,0,100.0
55,4Q130,4Q136,1,1,1,1,0,100.0
56,34Se1,MT,1,90,1,1,0,100.0
57,34Se1,Xq1,1,1,1,1,0,100.0
58,34Se1,Xhev/se5,1,2,1,1,0,100.0
59,34Se1,Mur4,1,2,1,1,0,100.0
60,34Se1,4Q16,1,1,1,1,0,100.0
61,34Se1,4Q145,1,1,1,1,0,100.0
62,34Se1,4Q144,1,1,1,1,0,100.0
63,34Se1,4Q140,1,1,1,1,0,100.0
64,34Se1,4Q136,1,1,1,1,0,100.0
65,34Se1,4Q130,1,1,1,1,0,100.0
66,4Q155,MT,1,90,1,1,0,100.0
67,4Q155,Xhev/se5,1,2,1,1,0,100.0
68,4Q155,Mur4,1,2,1,1,0,100.0
69,4Q155,Xq3,1,1,1,1,0,100.0
70,4Q134,MT,1,90,1,1,0,100.0
71,4Q134,Xhev/se5,1,2,1,1,0,100.0
72,4Q134,Mur4,1,2,1,1,0,100.0
73,4Q134,Xq3,1,1,1,1,0,100.0
74,4Q134,4Q155,1,1,1,1,0,100.0
75,4Q11,MT,4,90,4,3,1,75.0
76,4Q11,4Q18,4,1,1,1,0,100.0
77,4Q18,MT,1,90,1,1,0,100.0

In [17]:
# COMPLEMENT: DISAGREEMENT CASES
cmpl_dic = {}

# Constructing the dictionary from the dataframe
for i, row in df.iterrows():
    cmpl_info = (row.lex, row.book, row.chapter, row.verse_num)
    cmpl_dic.setdefault(row.scroll, {}).setdefault(cmpl_info, []).append(row.cmpl_constr)

results = []

# Analyzing and comparing complements
for scroll, cmpls in cmpl_dic.items():
    for cmpl_info, cmpl_constrs in cmpls.items():
        for other_scroll, other_cmpls in cmpl_dic.items():
            if scroll >= other_scroll:
                continue
            other_cmpl_constr = other_cmpls.get(cmpl_info)
            if other_cmpl_constr is None:
                continue
            
            for c1, c2 in zip(cmpl_constrs, other_cmpl_constr):
                if c1 != c2:  # Only storing results when they are different
                    result = {
                        'scroll': scroll,
                        'other_scroll': other_scroll,
                        'lex': cmpl_info[0],
                        'book': cmpl_info[1],
                        'chapter': cmpl_info[2],
                        'verse_num': cmpl_info[3],
                        'complement_1': c1,
                        'complement_2': c2
                    }
                    results.append(result)

# Create DataFrame
df_results = pd.DataFrame(results)

# If you want to see the DataFrame printed out
df_results
#stats

,scroll,other_scroll,lex,book,chapter,verse_num,complement_1,complement_2
0,4Q11,MT,BW>[,Exodus,26,33,vc,dir-he

In [18]:
df[(df.chapter == 26) & (df.verse_num == 33)]

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,comments,reconstructed_verse,spatial_arg_type,index
202,43242_mt,BW>[,MT,Exodus,26,33,HB>T,W NTTH >T H PRKT TXT H QRSJM W HB>T CMH M BJT L PRKT >T >RWN H <DWT W HBDJLH H PRKT LKM BJN H QDC W BJN QDC H QDCJM,,hif,perf,W HB>T CMH M BJT L PRKT >T >RWN H <DWT,,CMH,CM,there,1.0,dir-he,adv,inanim,det,adv,simple,factive,,,,,,,goal,
203,43242_lxx,εἰσφέρω,LXX,Exodus,26,33,εἰσοίσεις,καὶ θήσεις τὸ καταπέτασμα ἐπὶ τῶν στύλων. καὶ εἰσοίσεις ἐκεῖ ἐσώτερον τοῦ καταπετάσματος τὴν κιβωτὸν τοῦ μαρτυρίου. καὶ διοριεῖ τό καταπέτασμα ὑμῖν ἀνὰ μέσον τοῦ ἁγίου καὶ ἀνὰ μέσον τοῦ ἁγίου τῶν ἁγίων.,,,fut.,,,ἐκεῖ ἐσώτερον τοῦ καταπετάσματος,ἐσώτερος,there behind the curtain,,,,,,,,,ἐκεῖ ἐσώτερον,,,,the adjective ἐσώτερος (inner) is here used as a preposition,,,
204,1944988_dss,BW>[,4Q11,Exodus,26,33,HB>WT,W NTTH >T H PRKT TXT H QRSJM W HB>WT CM M BJT L PRKT >T >RWN H <DWT W HBDJLH H PRKT LKM BJN H QDC W BJN QDC H QDCJM,1 1111 11 1 1111 111 1 11111 1 10000 00 0 000 1 1111 11 1000 0 0000 1 111110 0 0001 111 111 1 111 1 111 110 0 11100,hif,perf,W HB>WT CM M BJT L PRKT >T >RWN H <DWT,,CM,CM,there,0.0,vc,adv,inanim,det,adv,simple,factive,,,,,reconstructed?,[W NTTH >T H PRKT TXT H QRSJM W H]B>WT CM M BJT [L PRKT >T >]RWN H <DWT [W HBDJL]H H PRK[T LKM BJN H QDC W BJN QD]C H [QDC]JM,,81.0

In [19]:
# PREPOSITIONS: COUNT

prep_dic = {}

for i, row in df[df.cmpl_constr == "prep"].iterrows():
    prep_info = (row.lex, row.book, row.chapter, row.verse_num)
    preps = []
    for i in range(1, 5):
        prep = row[f"preposition_{i}"].strip()
        if prep:
            preps.append(prep)
    prep_dic.setdefault(row.scroll, {}).setdefault(prep_info, []).append(preps)

stats = {}
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll >= other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            same = 0
            different = 0
            for c1, c2 in zip(preps, other_preps):
                if c1 == c2:
                    same += 1
                else:
                    different += 1
                    #print(scroll, other_scroll, prep_info, c1, c2)
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + same, stat[1] + different, stat[2] + same + different)

stats

{('MT', 'Mur1'): (1, 0, 1),
 ('MT', 'Xq1'): (1, 0, 1),
 ('MT', 'Xhev/se5'): (2, 0, 2),
 ('MT', 'Mur4'): (2, 0, 2),
 ('MT', 'Xq3'): (1, 0, 1),
 ('4Q13', 'MT'): (1, 0, 1),
 ('4Q1', 'MT'): (3, 0, 3),
 ('4Q1', '4Q14'): (0, 1, 1),
 ('4Q1', 'Mur1'): (1, 0, 1),
 ('4Q14', 'MT'): (0, 2, 2),
 ('4Q22', 'MT'): (2, 1, 3),
 ('Xhev/se5', 'Xq1'): (1, 0, 1),
 ('Xhev/se5', 'Xq3'): (1, 0, 1),
 ('Mur4', 'Xq1'): (1, 0, 1),
 ('Mur4', 'Xhev/se5'): (2, 0, 2),
 ('Mur4', 'Xq3'): (1, 0, 1),
 ('4Q16', 'MT'): (1, 0, 1),
 ('4Q16', 'Xq1'): (1, 0, 1),
 ('4Q16', 'Xhev/se5'): (1, 0, 1),
 ('4Q16', 'Mur4'): (1, 0, 1),
 ('4Q145', 'MT'): (1, 0, 1),
 ('4Q145', 'Xq1'): (1, 0, 1),
 ('4Q145', 'Xhev/se5'): (1, 0, 1),
 ('4Q145', 'Mur4'): (1, 0, 1),
 ('4Q145', '4Q16'): (1, 0, 1),
 ('4Q144', 'MT'): (1, 0, 1),
 ('4Q144', 'Xq1'): (1, 0, 1),
 ('4Q144', 'Xhev/se5'): (1, 0, 1),
 ('4Q144', 'Mur4'): (1, 0, 1),
 ('4Q144', '4Q16'): (1, 0, 1),
 ('4Q144', '4Q145'): (1, 0, 1),
 ('4Q140', 'MT'): (1, 0, 1),
 ('4Q140', 'Xq1'): (1, 0, 1),
 ('4Q140', 'Xhev/se5'): (1, 0, 1),
 ('4Q140', 'Mur4'): (1, 0, 1),
 ('4Q140', '4Q16'): (1, 0, 1),
 ('4Q140', '4Q145'): (1, 0, 1),
 ('4Q140', '4Q144'): (1, 0, 1),
 ('4Q136', 'MT'): (1, 0, 1),
 ('4Q136', 'Xq1'): (1, 0, 1),
 ('4Q136', 'Xhev/se5'): (1, 0, 1),
 ('4Q136', 'Mur4'): (1, 0, 1),
 ('4Q136', '4Q16'): (1, 0, 1),
 ('4Q136', '4Q145'): (1, 0, 1),
 ('4Q136', '4Q144'): (1, 0, 1),
 ('4Q136', '4Q140'): (1, 0, 1),
 ('4Q130', 'MT'): (1, 0, 1),
 ('4Q130', 'Xq1'): (1, 0, 1),
 ('4Q130', 'Xhev/se5'): (1, 0, 1),
 ('4Q130', 'Mur4'): (1, 0, 1),
 ('4Q130', '4Q16'): (1, 0, 1),
 ('4Q130', '4Q145'): (1, 0, 1),
 ('4Q130', '4Q144'): (1, 0, 1),
 ('4Q130', '4Q140'): (1, 0, 1),
 ('4Q130', '4Q136'): (1, 0, 1),
 ('34Se1', 'MT'): (1, 0, 1),
 ('34Se1', 'Xq1'): (1, 0, 1),
 ('34Se1', 'Xhev/se5'): (1, 0, 1),
 ('34Se1', 'Mur4'): (1, 0, 1),
 ('34Se1', '4Q16'): (1, 0, 1),
 ('34Se1', '4Q145'): (1, 0, 1),
 ('34Se1', '4Q144'): (1, 0, 1),
 ('34Se1', '4Q140'): (1, 0, 1),
 ('34Se1', '4Q136'): (1, 0, 1),
 ('34Se1', '4Q130'): (1, 0, 1),
 ('4Q155', 'MT'): (1, 0, 1),
 ('4Q155', 'Xhev/se5'): (1, 0, 1),
 ('4Q155', 'Mur4'): (1, 0, 1),
 ('4Q155', 'Xq3'): (1, 0, 1),
 ('4Q134', 'MT'): (1, 0, 1),
 ('4Q134', 'Xhev/se5'): (1, 0, 1),
 ('4Q134', 'Mur4'): (1, 0, 1),
 ('4Q134', 'Xq3'): (1, 0, 1),
 ('4Q134', '4Q155'): (1, 0, 1),
 ('4Q11', 'MT'): (2, 1, 3),
 ('4Q11', '4Q18'): (1, 0, 1),
 ('4Q18', 'MT'): (0, 1, 1)}

In [20]:
# PREPOSITIONS. DISAGREEMENT CASES BETWEEN THE THREE MANUSCRIPTS
prep_dic = {}

# Constructing the dictionary from the dataframe where 'cmpl_constr' is 'prep'
for i, row in df[df.cmpl_constr == "prep"].iterrows():
    prep_info = (row.lex, row.book, row.chapter, row.verse_num)
    preps = []
    for j in range(1, 5):
        prep = row[f"preposition_{j}"].strip()
        if prep:
            preps.append(prep)
    prep_dic.setdefault(row.scroll, {}).setdefault(prep_info, []).append(preps)

results = []

# Analyzing and comparing prepositions
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll >= other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            
            for c1, c2 in zip(preps, other_preps):
                if c1 != c2:  # Only storing results when they are different
                    result = {
                        'scroll': scroll,
                        'other_scroll': other_scroll,
                        'lex': prep_info[0],
                        'book': prep_info[1],
                        'chapter': prep_info[2],
                        'verse_num': prep_info[3],
                        'preposition_scroll_1': ", ".join(c1),
                        'preposition_scroll_2': ", ".join(c2),
                        
                    }
                    results.append(result)

# Create DataFrame
df_results = pd.DataFrame(results)

# If you want to see the DataFrame printed out
df_results

,scroll,other_scroll,lex,book,chapter,verse_num,preposition_scroll_1,preposition_scroll_2
0,4Q1,4Q14,BW>[,Exodus,3,13,>L,L
1,4Q14,MT,BW>[,Exodus,3,13,L,>L
2,4Q14,MT,BW>[,Exodus,10,3,B,>L
3,4Q22,MT,BW>[,Exodus,18,23,>L,<L
4,4Q11,MT,BW>[,Exodus,14,23,>L,>XR/
5,4Q18,MT,BW>[,Exodus,14,23,>L,>XR/

In [21]:
df[(df.chapter == 10) & (df.verse_num == 3) & (df.scroll != "LXX")]

,verb_id,lex,scroll,book,chapter,verse_num,gcons_verb,gcons_verse,sign_info,stem,tense,gcons_clause,subject,complement,cmpl_lex,cmpl_translation,dir_he,cmpl_constr,cmpl_nt,cmpl_anim,cmpl_det,cmpl_indiv,cmpl_complex,motion_type,preposition_1,preposition_2,preposition_3,preposition_4,comments,reconstructed_verse,spatial_arg_type,index
61,33834_mt,BW>[,MT,Exodus,10,3,JB>,W JB> MCH W >HRN >L PR<H W J>MRW >LJW KH >MR JHWH >LHJ H <BRJM <D MTJ M>NT L <NT M PNJ CLX <MJ W J<BDNJ,,qal,wayq,W JB> MCH W >HRN >L PR<H,MCH W >HRN,>L PR<H,>L PR<H/,to Pharaoh,0.0,prep,pers,anim,det,subs,simple,factive,>L,,,,,,goal,
63,1948460_dss,BW>[,4Q14,Exodus,10,3,JB>,W JB> MCH W >HRN B MYR W J>MRW >LJW KH >MR JHWH >LHJ H <BRJM <D MTJ M>NT L <NT M PNJ CLX <MJ W J<BDNJ,1 111 111 1 1111 0 000 1 11000 0011 11 111 1111 1111 1 11111 11 111 1111 1 111 1 111 111 111 1 111111,qal,wayq,W JB> MCH W >HRN B MYR,MCH W >HRN,B MYR,B MYRJM/,to Egypt,0.0,prep,topo,inanim,det,nmpr,simple,factive,B,,,,reconstructed?,[W JB> MCH W >HRN] B MYR [W J>]MRW >L[JW KH >MR JHWH >LHJ H <BRJM <D MTJ M>NT L <NT M PNJ CLX <MJ W J<BDNJ],,16.0

In [41]:
# PREPOSITIONS: MANUSCRIPT AGREEMENT

def total_occ(scroll):
    scroll_preps = prep_dic[scroll]
    total = 0
    for preps in scroll_preps.values():
        total += len(preps)
    return total

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": total_occ(scrolls[0]),
        "total_occ_scroll2": total_occ(scrolls[1]),
        "total_com_occ": stat[2],
        "total_agreement": stat[0],
        "total_disagreement": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_agreement,total_disagreement,agreement_percentage
0,MT,Mur1,72,1,1,1,0,100.000000
1,MT,Xq1,72,1,1,1,0,100.000000
2,MT,Xhev/se5,72,2,2,2,0,100.000000
3,MT,Mur4,72,2,2,2,0,100.000000
4,MT,Xq3,72,1,1,1,0,100.000000
5,4Q13,MT,1,72,1,1,0,100.000000
6,4Q1,MT,3,72,3,3,0,100.000000
7,4Q1,4Q14,3,2,1,1,0,100.000000
8,4Q1,Mur1,3,1,1,1,0,100.000000
9,4Q14,MT,2,72,2,1,1,50.000000
10,4Q22,MT,3,72,3,2,1,66.666667
11,Xhev/se5,Xq1,2,1,1,1,0,100.000000
12,Xhev/se5,Xq3,2,1,1,1,0,100.000000
13,Mur4,Xq1,2,1,1,1,0,100.000000
14,Mur4,Xhev/se5,2,2,2,2,0,100.000000
15,Mur4,Xq3,2,1,1,1,0,100.000000
16,4Q16,MT,1,72,1,1,0,100.000000
17,4Q16,Xq1,1,1,1,1,0,100.000000
18,4Q16,Xhev/se5,1,2,1,1,0,100.000000
19,4Q16,Mur4,1,2,1,1,0,100.000000
20,4Q145,MT,1,72,1,1,0,100.000000
21,4Q145,Xq1,1,1,1,1,0,100.000000
22,4Q145,Xhev/se5,1,2,1,1,0,100.000000
23,4Q145,Mur4,1,2,1,1,0,100.000000
24,4Q145,4Q16,1,1,1,1,0,100.000000
25,4Q144,MT,1,72,1,1,0,100.000000
26,4Q144,Xq1,1,1,1,1,0,100.000000
27,4Q144,Xhev/se5,1,2,1,1,0,100.000000
28,4Q144,Mur4,1,2,1,1,0,100.000000
29,4Q144,4Q16,1,1,1,1,0,100.000000
30,4Q144,4Q145,1,1,1,1,0,100.000000
31,4Q140,MT,1,72,1,1,0,100.000000
32,4Q140,Xq1,1,1,1,1,0,100.000000
33,4Q140,Xhev/se5,1,2,1,1,0,100.000000
34,4Q140,Mur4,1,2,1,1,0,100.000000
35,4Q140,4Q16,1,1,1,1,0,100.000000
36,4Q140,4Q145,1,1,1,1,0,100.000000
37,4Q140,4Q144,1,1,1,1,0,100.000000
38,4Q136,MT,1,72,1,1,0,100.000000
39,4Q136,Xq1,1,1,1,1,0,100.000000
40,4Q136,Xhev/se5,1,2,1,1,0,100.000000
41,4Q136,Mur4,1,2,1,1,0,100.000000
42,4Q136,4Q16,1,1,1,1,0,100.000000
43,4Q136,4Q145,1,1,1,1,0,100.000000
44,4Q136,4Q144,1,1,1,1,0,100.000000
45,4Q136,4Q140,1,1,1,1,0,100.000000
46,4Q130,MT,1,72,1,1,0,100.000000
47,4Q130,Xq1,1,1,1,1,0,100.000000
48,4Q130,Xhev/se5,1,2,1,1,0,100.000000
49,4Q130,Mur4,1,2,1,1,0,100.000000
50,4Q130,4Q16,1,1,1,1,0,100.000000
51,4Q130,4Q145,1,1,1,1,0,100.000000
52,4Q130,4Q144,1,1,1,1,0,100.000000
53,4Q130,4Q140,1,1,1,1,0,100.000000
54,4Q130,4Q136,1,1,1,1,0,100.000000
55,34Se1,MT,1,72,1,1,0,100.000000
56,34Se1,Xq1,1,1,1,1,0,100.000000
57,34Se1,Xhev/se5,1,2,1,1,0,100.000000
58,34Se1,Mur4,1,2,1,1,0,100.000000
59,34Se1,4Q16,1,1,1,1,0,100.000000
60,34Se1,4Q145,1,1,1,1,0,100.000000
61,34Se1,4Q144,1,1,1,1,0,100.000000
62,34Se1,4Q140,1,1,1,1,0,100.000000
63,34Se1,4Q136,1,1,1,1,0,100.000000
64,34Se1,4Q130,1,1,1,1,0,100.000000
65,4Q155,MT,1,72,1,1,0,100.000000
66,4Q155,Xhev/se5,1,2,1,1,0,100.000000
67,4Q155,Mur4,1,2,1,1,0,100.000000
68,4Q155,Xq3,1,1,1,1,0,100.000000
69,4Q134,MT,1,72,1,1,0,100.000000
70,4Q134,Xhev/se5,1,2,1,1,0,100.000000
71,4Q134,Mur4,1,2,1,1,0,100.000000
72,4Q134,Xq3,1,1,1,1,0,100.000000
73,4Q134,4Q155,1,1,1,1,0,100.000000
74,4Q11,MT,3,72,3,2,1,66.666667
75,4Q11,4Q18,3,1,1,1,0,100.000000
76,4Q18,MT,1,72,1,0,1,0.000000

In [79]:
# PREPOSITION MISSING

stats = {}
for scroll, scroll_preps in prep_dic.items():
    for prep_info, preps in scroll_preps.items():
        for other_scroll, other_scroll_preps in prep_dic.items():
            if scroll == other_scroll:
                continue
            other_preps = other_scroll_preps.get(prep_info)
            if other_preps is None:
                continue
            non_missing = 0
            missing = 0
            for c1, c2 in zip_longest(preps, other_preps):
                if c2 is None:
                    missing += 1
                    print(scroll, other_scroll, prep_info, c1, c2)
                else:
                    non_missing += 1
            stat = stats.get((scroll, other_scroll), [0, 0, 0])
            stats[(scroll, other_scroll)] = (stat[0] + non_missing, stat[1] + missing, stat[2] + missing + non_missing)
            
stats

MT 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
MT 1Q8 ('BW>[', 'Isaiah', 47, 9) ['<L'] None
1Qisaa MT ('BW>[', 'Isaiah', 16, 12) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 39, 3) ['>L'] None
1Qisaa 1Q8 ('BW>[', 'Isaiah', 47, 9) ['<L'] None

{('MT', '1Qisaa'): (109, 0, 109),
 ('MT', '1Q8'): (20, 3, 23),
 ('1Qisaa', 'MT'): (108, 1, 109),
 ('1Qisaa', '1Q8'): (20, 3, 23),
 ('1Q8', 'MT'): (23, 0, 23),
 ('1Q8', '1Qisaa'): (23, 0, 23)}

In [42]:
# PREPOSITION MISSING 

pd.DataFrame([{
        "scroll1": scrolls[0], 
        "scroll2": scrolls[1], 
        "total_occ_scroll1": total_occ(scrolls[0]),
        "total_occ_scroll2": total_occ(scrolls[1]),
        "total_com_occ": stat[2],
        "total_non_missing": stat[0],
        "total_missing_from_scroll2": stat[1],
        "agreement_percentage": stat[0] / stat[2] * 100,
    }
    for scrolls, stat in stats.items()
])

,scroll1,scroll2,total_occ_scroll1,total_occ_scroll2,total_com_occ,total_non_missing,total_missing_from_scroll2,agreement_percentage
0,MT,Mur1,72,1,1,1,0,100.000000
1,MT,Xq1,72,1,1,1,0,100.000000
2,MT,Xhev/se5,72,2,2,2,0,100.000000
3,MT,Mur4,72,2,2,2,0,100.000000
4,MT,Xq3,72,1,1,1,0,100.000000
5,4Q13,MT,1,72,1,1,0,100.000000
6,4Q1,MT,3,72,3,3,0,100.000000
7,4Q1,4Q14,3,2,1,1,0,100.000000
8,4Q1,Mur1,3,1,1,1,0,100.000000
9,4Q14,MT,2,72,2,1,1,50.000000
10,4Q22,MT,3,72,3,2,1,66.666667
11,Xhev/se5,Xq1,2,1,1,1,0,100.000000
12,Xhev/se5,Xq3,2,1,1,1,0,100.000000
13,Mur4,Xq1,2,1,1,1,0,100.000000
14,Mur4,Xhev/se5,2,2,2,2,0,100.000000
15,Mur4,Xq3,2,1,1,1,0,100.000000
16,4Q16,MT,1,72,1,1,0,100.000000
17,4Q16,Xq1,1,1,1,1,0,100.000000
18,4Q16,Xhev/se5,1,2,1,1,0,100.000000
19,4Q16,Mur4,1,2,1,1,0,100.000000
20,4Q145,MT,1,72,1,1,0,100.000000
21,4Q145,Xq1,1,1,1,1,0,100.000000
22,4Q145,Xhev/se5,1,2,1,1,0,100.000000
23,4Q145,Mur4,1,2,1,1,0,100.000000
24,4Q145,4Q16,1,1,1,1,0,100.000000
25,4Q144,MT,1,72,1,1,0,100.000000
26,4Q144,Xq1,1,1,1,1,0,100.000000
27,4Q144,Xhev/se5,1,2,1,1,0,100.000000
28,4Q144,Mur4,1,2,1,1,0,100.000000
29,4Q144,4Q16,1,1,1,1,0,100.000000
30,4Q144,4Q145,1,1,1,1,0,100.000000
31,4Q140,MT,1,72,1,1,0,100.000000
32,4Q140,Xq1,1,1,1,1,0,100.000000
33,4Q140,Xhev/se5,1,2,1,1,0,100.000000
34,4Q140,Mur4,1,2,1,1,0,100.000000
35,4Q140,4Q16,1,1,1,1,0,100.000000
36,4Q140,4Q145,1,1,1,1,0,100.000000
37,4Q140,4Q144,1,1,1,1,0,100.000000
38,4Q136,MT,1,72,1,1,0,100.000000
39,4Q136,Xq1,1,1,1,1,0,100.000000
40,4Q136,Xhev/se5,1,2,1,1,0,100.000000
41,4Q136,Mur4,1,2,1,1,0,100.000000
42,4Q136,4Q16,1,1,1,1,0,100.000000
43,4Q136,4Q145,1,1,1,1,0,100.000000
44,4Q136,4Q144,1,1,1,1,0,100.000000
45,4Q136,4Q140,1,1,1,1,0,100.000000
46,4Q130,MT,1,72,1,1,0,100.000000
47,4Q130,Xq1,1,1,1,1,0,100.000000
48,4Q130,Xhev/se5,1,2,1,1,0,100.000000
49,4Q130,Mur4,1,2,1,1,0,100.000000
50,4Q130,4Q16,1,1,1,1,0,100.000000
51,4Q130,4Q145,1,1,1,1,0,100.000000
52,4Q130,4Q144,1,1,1,1,0,100.000000
53,4Q130,4Q140,1,1,1,1,0,100.000000
54,4Q130,4Q136,1,1,1,1,0,100.000000
55,34Se1,MT,1,72,1,1,0,100.000000
56,34Se1,Xq1,1,1,1,1,0,100.000000
57,34Se1,Xhev/se5,1,2,1,1,0,100.000000
58,34Se1,Mur4,1,2,1,1,0,100.000000
59,34Se1,4Q16,1,1,1,1,0,100.000000
60,34Se1,4Q145,1,1,1,1,0,100.000000
61,34Se1,4Q144,1,1,1,1,0,100.000000
62,34Se1,4Q140,1,1,1,1,0,100.000000
63,34Se1,4Q136,1,1,1,1,0,100.000000
64,34Se1,4Q130,1,1,1,1,0,100.000000
65,4Q155,MT,1,72,1,1,0,100.000000
66,4Q155,Xhev/se5,1,2,1,1,0,100.000000
67,4Q155,Mur4,1,2,1,1,0,100.000000
68,4Q155,Xq3,1,1,1,1,0,100.000000
69,4Q134,MT,1,72,1,1,0,100.000000
70,4Q134,Xhev/se5,1,2,1,1,0,100.000000
71,4Q134,Mur4,1,2,1,1,0,100.000000
72,4Q134,Xq3,1,1,1,1,0,100.000000
73,4Q134,4Q155,1,1,1,1,0,100.000000
74,4Q11,MT,3,72,3,2,1,66.666667
75,4Q11,4Q18,3,1,1,1,0,100.000000
76,4Q18,MT,1,72,1,0,1,0.000000